* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background color */
  --bg-primary-color: #09122c;
  --bg-fill-color: #fdfdfc;

  /* text-primary-color */
  --text-primary-color: #faf8f1;

  /* spacing variables */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* border colors */
  --border-primary-color: #979797;
  --border-secondary-color: #f5f5f0;

  /* border radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main,
section {
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 1px solid var(--border-secondary-color);
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
}

.board {
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
}

.block {
  /* width: 20px;
    height: 20px; */
  border: 1px solid var(--border-primary-color);
  text-align: center;

  display: flex;
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
}

.fill {
  background-color: var(--bg-fill-color);
}
